<!DOCTYPE html><html>
  <head>
    <title>Thank You</title>
    <style type="text/css">
      body{ font-family: Sans-Serif; padding: 0 2em; }
    </style>
  </head>

  <body>
    <h1>Thank You</h1>
  </body>

</html>
